



#main{
	width: 900px;
	background-color: #333333;
}


#navibar{
	margin-top: -50px;
	border-radius: 0px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#head_img{
	width: 900px;
	height: 450px;
	overflow: hidden;
	vertical-align: middle;
}


#head_img img{
	width:900px;
}



#timeline{
	width: 640px;
	float: left;
	margin-bottom: 50px;
	   filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
   opacity: 0.8;


}

.blog_list{
	width: 640px;
	height:160px;
	background-color: #333333;
	margin-bottom: 10px;
}

.blog_img{
	float: right;
	width: 180px;
	height: 120px;
	overflow: hidden;
	margin-top: 20px;
	margin-right: 20px;
	text-align:center;
}

.blog_img img{
	width: 100%;
	vertical-align:middle;

}

.blog_title{
	position: absolute;
	float: left;
	background-color: #333333;
	width: 400px;
	margin-left: 20px;
	margin-top: 15px;
	height: 130px;

}

.blog_title h3{
	text-align: left;
}

.blog_title p{
	position:absolute;
	bottom: 0px;
	right: 20px;
	color: #666666;
	text-align: right;

}


.pagination li a{
	background-color: #333333;
	color: #dddddd;
	border-color: #444444;
}

.pagination li a:hover{
	background-color: #666666;
	border:none;
	color: #ffffff;
}

.pagination > .active > a
 {
  color: #aaa;
  cursor: default;
  border-color: #444444;
  background-color: #555555;
}

.pagination > .active > a:hover{
	color: #aaa;
	background-color: #555555;
}

#right_column{
	width: 250px;
	float: right;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#latest{
	width: 100%;
	background-color: #333333;
	padding: 5px 15px 5px 5px;
}
#latest h5{
	text-align: left;
	font-size: 1.25em;
	vertical-align: middle;
	margin-left: 5px;

}

#latest ol li{
	font-size: 1em;
	text-align: left;

}

#tags{
	width: 100%;
	background-color: #333333;
	padding: 5px 15px 5px 5px;
	margin-top: 15px;
}

#tags h5{
	text-align: left;
	font-size: 1.25em;
	vertical-align: middle;
	margin-left: 5px;

}

#tags h5 span{
	font-weight: normal;
	line-height: 30px;

}

#myTab{
	border-bottom: 1px solid #222;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #eee;
  cursor: default;
  background-color: #333;
  border: 1px solid #222;
  border-bottom-color: transparent;

}

.nav-tabs > li >a {
	color: #dddddd;
	background-color: #222;
}


.nav-tabs > li > a:visited{
	background: transparent;
	border: 1px solid #222;
}

.nav-tabs > li > a:hover{
	background-color: #333;
	border: 1px solid #222;
}

.nav-tabs > li > a:active{
	background: transparent;
	border: 1px solid #222;
}
