
#navibar{
	margin-top: -50px;
	border-radius: 0px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#head_img{
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
	margin-top: 50px;
}


#head_img img{
	width:100%;
}




@media (min-width: 769px) {
	.blog_list{
	width: 100%;
	padding:1.5rem 1.5rem 1.5rem 1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}

	.blog_list span{
		top:0;
		left: 0;
		position: absolute;
		font-size: 0.875rem;
		font-size: 14px;
		font-weight: normal;
		border-radius:0;
	}

	.blog_list:hover{
		background-color: rgba(51,51,51,0.9);
		border-left: 5px solid #0066ff;
	}

	.blog_title{
	position: absolute;
	top:10%;
	width: 65%;
	height: 100%;
	float: left;
	margin-left: 1em;

	}

	.blog_img{
	float: right;
	height:100%;
	overflow: hidden;

	}
	.blog_img img{
		width: 100%;
		vertical-align:middle;

	}
}

@media (min-width: 450px) and (max-width:769px ) {
	body{
		background-color: #444;
		background-image:none;
	}

	.container{
		width: 100%;
		padding: 0;
	}

	#timeline{
		margin-top: 1em;
	}



	.blog_list{
	width: 100%;
	padding:1.5rem 1.5rem 1.5rem 1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}


	.blog_list span{
		top:0;
		left: 0;
		position: absolute;
		font-size: 0.875rem;
		font-size: 14px;
		font-weight: normal;
		border-radius:0;
	}

	.blog_list:hover{
		background-color: rgba(51,51,51,0.9);
		border-left: 5px solid #0066ff;
	}

	.blog_title{
	position: absolute;
	top:10%;
	width: 65%;
	height: 100%;
	float: left;
	margin-left: 0.3em;

	}

	.blog_title h2{
		width: 100%;
		font-size: 1.67rem;
		font-size: 20px;
	
	}

	.blog_img{
	float: right;
	height:100%;
	overflow: hidden;

	}
	.blog_img img{
		width: 100%;
		vertical-align:middle;

	}
}

@media (max-width: 450px) {

	body{
		background-color: #444;
		background-image:none;
	}

	.container{
		width: 100%;
		padding: 0;
	}

	#timeline{
		margin-top: 1em;
	}
	.blog_list{
	width: 100%;
	padding:0.25rem 0.25rem 0.25rem 0.1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}

	.blog_list span{
	top:0;
	left: 0;
	position: absolute;
	font-size: 0.625rem;
	font-size: 10px;
	font-weight: normal;
	border-radius:0;
	}

	.blog_list:hover{
	background-color: rgba(51,51,51,0.9);
	border-left: 5px solid #0066ff;
	}

	#mytab li{
		overflow: auto;
		word-break:none;
	}
	#myTab li a{
		font-size: 0.75rem;
		font-size: 12px;
	}
	.blog_title{
	padding:0;
	position: absolute;
	top:0;
	width: 63%;
	height: 100%;
	float: left;
	margin-left: 1em;

	}
	.blog_title h2{
		width: 100%;
		font-size: 1rem;
		font-size: 16px;
		top: 20%;
	
	}
	.blog_title p{
		position: absolute;
		font-size: 0.625rem;
		font-size: 10px;
		top:70%;

	}

	.blog_img{
		float: right;
		height:70%;
		overflow: hidden;
		top:15%;
		margin-right: 0.3em;
		text-align: center;

	}

	.blog_img img{
		height: 100%;
		width: 133%;
		position: relative;

	}

	.pagination li a{
		font-size: 0.75rem;
		font-size: 12px;
	}


}



@media \0screen\,screen\9
.blog_list{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}

.blog_list a,div,h3{
	position: relative;
}

.blog_title h3{
	text-align: left;
}

.blog_title p{
	position: absolute;
	bottom: 20%;
	color: #666666;
	text-align: right;

}


.pagination li a{
	background-color: rgba(34,34,34,0.9);
	color: #dddddd;
	border-color: #444444;
	font-size: 1rem;
	font-size: 14px;
}



.pagination li a:hover{
	background-color: #666666;
	border:none;
	color: #ffffff;
}

.pagination > .active > a
 {
  color: #aaa;
  cursor: default;
  border-color: #444444;
  background-color: rgba(85,85,85,0.9);
}

.pagination > .active > a:hover{
	color: #aaa;
	background-color: #555555;
}

#right_column{
	width: 100%;
	float: right;
}

#latest{
	width: 100%;
	background-color: rgba(34,34,34,0.9);
	padding: 0.5em 1em 0.5em 0.5em;
}
#latest h4{
	text-align: left;
	vertical-align: middle;
	margin-left: 0.5em;

}


#latest ol li{
	font-size: 0.875rem;
	font-size: 14px;
	text-align: left;

}

@media \0screen\,screen\9
#latest{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}

#latest ol,h5{
	position: relative;
}

#tags{
	width: 100%;
	background-color: rgba(34,34,34,0.9);
	padding: 0.5em 1em 0.5em 0.5em;
	margin-top: 1em;
}

#tags h4{
	text-align: left;
	font-size: 1rem;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 0.5em;

}

#tags h5 span{
	font-weight: normal;
	font-size: 0.625rem;
	font-size: 12px;
	line-height: 2.5em;
	margin-left: 0.5em;

}

@media \0screen\,screen\9
#tags{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}

#tags h5{
	position: relative;
}

.nav-tabs{
	border-bottom: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #eee;
  cursor: default;
  background-color: rgba(34,34,34,0.9);
  border-color: #333;
  border-bottom-color: transparent;
}


.nav-tabs > li >a {
	color: #dddddd;
	background-color: rgba(51,51,51,0.9);

}


.nav-tabs > li > a:visited{
	background: transparent;
	border: none;
}

.nav-tabs > li > a:hover{
	background-color: #333;
	border: 1px solid #222;
}

.nav-tabs > li > a:active{
	background: transparent;
	border:none;
}


