
#navibar{
	margin-top: -50px;
	border-radius: 0px;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#head_img{
	width: 100%;
	overflow: hidden;
	vertical-align: middle;
	margin-top: 50px;
}


#head_img img{
	width:100%;
	height: 100%;
}


@media \0screen\,screen\9
.blog_list{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}

.blog_list a,div,h3{
	position: relative;
}

.blog_title h3{
	text-align: left;
}

.blog_title p{
	position: absolute;
	bottom: 20%;
	color: #666666;
	text-align: right;

}


.pagination li a{
	background-color: rgba(34,34,34,0.9);
	color: #dddddd;
	border-color: #444444;
	font-size: 1rem;
	font-size: 14px;
}



.pagination li a:hover{
	background-color: #666666;
	border:none;
	color: #ffffff;
}

.pagination > .active > a
 {
  color: #aaa;
  cursor: default;
  border-color: #444444;
  background-color: rgba(85,85,85,0.9);
}

.pagination > .active > a:hover{
	color: #aaa;
	background-color: #555555;
}

#right_column{
	width: 100%;
	float: right;
}

.right_hr{
	margin-top: 0;
	margin-bottom: 0.5rem;
	border-top:2px solid #555;
}

#latest{
	width: 100%;
	background-color: rgba(34,34,34,0.9);
	padding: 0.3em 1em 0.5em 0.5em;
}
#latest h4{
	text-align: left;
	vertical-align: middle;
	margin-left: 0.5em;

}


#latest ol li{
	font-size: 0.875rem;
	font-size: 14px;
	text-align: left;

}

@media \0screen\,screen\9
#latest{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}

#latest ol,h5{
	position: relative;
}

#tags{
	width: 100%;
	background-color: rgba(34,34,34,0.9);
	padding: 0.3em 1em 0.5em 0.5em;
	margin-top: 1em;
	text-align: center;
}

#tags h4{
	text-align: left;
	font-size: 1rem;
	font-size: 16px;
	vertical-align: middle;
	margin-left: 0.5em;

}

#tags h5 span{
	font-weight: normal;
	font-size: 0.625rem;
	font-size: 12px;
	line-height: 2.5em;
	margin-left: 0.5em;

}

#friends{
	width: 100%;
	background-color: rgba(34,34,34,0.9);
	padding: 0.3em 1em 0.5em 0.5em;
	margin-top: 1em;
}

#friends h4{
	text-align: left;
	vertical-align: middle;
	margin-left: 0.5em;

}


#friends ul li{
	font-size: 0.875rem;
	font-size: 14px;
	text-align: left;
	list-style: circle;

}

@media \0screen\,screen\9
#tags{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}

#tags h5{
	position: relative;
}

.nav-tabs{
	border-bottom: none;
}
.nav-tabs > li{
	margin-bottom: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #eee;
  cursor: default;
  background-color: rgba(34,34,34,0.9);
  border-color: #333;
  border-bottom-color: transparent;
}


.nav-tabs > li >a {
	color: #dddddd;
	background-color: rgba(51,51,51,0.9);

}


.nav-tabs > li > a:visited{
	background: transparent;
	border: none;
}

.nav-tabs > li > a:hover{
	background-color: #333;
	border: 1px solid #222;
}

.nav-tabs > li > a:active{
	background: transparent;
	border:none;
}






@media (max-width: 480px) {

	#timeline{
		margin-top: 1em;
	}
	.blog_list{
	width: 100%;
	padding:0.25rem 0.25rem 0.25rem 0.1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}

	.blog_list span{
	top:0;
	left: 0;
	position: absolute;
	font-size: 0.625rem;
	font-size: 10px;
	font-weight: normal;
	border-radius:0;
	}

	.blog_list:hover{
	background-color: rgba(51,51,51,0.9);
	border-left: 4px solid #3366cc;
	}

	#mytab li{
		overflow: auto;
		word-break:none;
	}
	#myTab li a{
		font-size: 0.625rem;
		font-size: 10px;
	}
	.blog_title{
	padding:0;
	position: absolute;
	width: 63%;
	height: 100%;
	float: left;
	margin-left: 1em;

	}
	.blog_title h2{
		width: 100%;
		font-size: 1rem;
		font-size: 16px;
		top: 20%;
	
	}
	.blog_title p{
		position: absolute;
		font-size: 0.625rem;
		font-size: 10px;
		top:70%;

	}

	.blog_img{
		float: right;
		height:70%;
		overflow: hidden;
		top:15%;
		margin-right: 0.3em;
		text-align: center;

	}

	.blog_img img{
		height: 100%;
		width: 133%;
		left: -17%;
		position: relative;

	}

	.pagination li a{
		font-size: 0.75rem;
		font-size: 12px;
	}

	#latest ol{
		margin-right: 1rem;
	}

	#latest ol li{
		border-bottom: 1px solid #444;
		padding-bottom: 0.8rem;
		margin-bottom: 0.8rem;
	}

	#latest ol li:first-child{
		margin-top: 0.8rem;
	}

	#latest ol li:last-child{
		border-bottom: none;
	}

	#friends ul{
		margin-right: 2rem;
	}

	#friends ul li{
		border-bottom: 1px solid #444;
		padding-bottom: 0.8rem;
		margin-bottom: 0.8rem;
	}

	#friends ul li:first-child{
		margin-top: 0.8rem;
	}

	#friends ul li:last-child{
		border-bottom: none;
	}


}

@media (min-width: 481px) and (max-width:767px ) {



	#timeline{
		margin-top: 1em;
	}
	.blog_list{
	width: 100%;
	padding:1.5rem 1.5rem 1.5rem 1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}


	.blog_list span{
		top:0;
		left: 0;
		position: absolute;
		font-size: 0.875rem;
		font-size: 14px;
		font-weight: normal;
		border-radius:0;
	}

	.blog_list:hover{
		background-color: rgba(51,51,51,0.9);
		border-left: 4px solid #3366cc;
	}

	.blog_title{
	position: absolute;
	top:10%;
	width: 66%;
	height: 100%;
	float: left;
	margin-left: 0.3em;

	}

	.blog_title h2{
		width: 100%;
		font-size: 1.67rem;
		font-size: 20px;
	
	}

	.blog_img{
	float: right;
	height:100%;
	overflow: hidden;

	}
	.blog_img img{
		width: 100%;
		vertical-align:middle;

	}

	#latest ol{
		margin-right: 2rem;
	}

	#latest ol li{
		font-size: 1rem;
		font-size: 16px;
		text-align: left;
		border-bottom: 1px solid #444;
		padding-bottom: 0.8rem;
		margin-bottom: 0.8rem;
	}

	#latest ol li:first-child{
		margin-top: 0.8rem;
	}

	#latest ol li:last-child{
		border-bottom: none;
	}

	#tags h5 span{
		font-weight: normal;
		font-size: 0.875rem;
		font-size: 14px;
		line-height: 2.5em;
		margin-left: 0.5em;

	}


	#friends ul{
		margin-right: 2rem;
	}

	#friends ul li{
		font-size: 1rem;
		font-size: 16px;
		text-align: left;
		list-style: circle;
		border-bottom: 1px solid #444;
		padding-bottom: 0.8rem;
		margin-bottom: 0.8rem;
	}
	#friends ul li:first-child{
		margin-top: 0.8rem;
	}
	#friends ul li:last-child{
		border-bottom: none;
	}

}

@media (min-width: 768px) and (max-width:979px ) {

	.blog_list{
	width: 100%;
	padding:1.5rem 1.5rem 1.5rem 1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}


	.blog_list span{
		top:0;
		left: 0;
		position: absolute;
		font-size: 0.875rem;
		font-size: 14px;
		font-weight: normal;
		border-radius:0;
	}

	.blog_list:hover{
		background-color: rgba(51,51,51,0.9);
		border-left: 4px solid #3366cc;
	}

	.blog_title{
		position: absolute;
		top:5%;
		width: 65%;
		height: 100%;
		float: left;
		margin-left: 0.3em;

	}

	.blog_title h2{
		width: 100%;
		font-size: 1.125rem;
		font-size: 18px;
	
	}

	.blog_img{
	float: right;
	height:100%;
	overflow: hidden;

	}
	.blog_img img{
		width: 100%;
		vertical-align:middle;

	}
}

@media (min-width: 980px) and (max-width:1199px ) {
	.blog_list{
	width: 100%;
	padding:1.5rem 1.5rem 1.5rem 1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}

	.blog_list span{
		top:0;
		left: 0;
		position: absolute;
		font-size: 0.875rem;
		font-size: 14px;
		font-weight: normal;
		border-radius:0;
	}

	.blog_list:hover{
		background-color: rgba(51,51,51,0.9);
		border-left: 4px solid #3366cc;
	}

	.blog_title{
	position: absolute;
	top:10%;
	width: 63%;
	height: 100%;
	float: left;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;

	}

	.blog_title h2{
		width: 100%;
		font-size: 1.125rem;
		font-size: 18px;
	}

	.blog_img{
	float: right;
	height:100%;
	overflow: hidden;

	}
	.blog_img img{
		width: 100%;
		vertical-align:middle;

	}
	#latest ol li{
		padding-bottom: 0.3rem;
	}
}

@media (min-width: 1120px) {
	.blog_list{
	width: 100%;
	padding:1.5rem 1.5rem 1.5rem 1rem;
	background-color: rgba(34,34,34,0.9);
	margin-bottom: 1em;
	vertical-align: middle;
	}

	.blog_list span{
		top:0;
		left: 0;
		position: absolute;
		font-size: 0.875rem;
		font-size: 14px;
		font-weight: normal;
		border-radius:0;
	}

	.blog_list:hover{
		background-color: rgba(51,51,51,0.9);
		border-left: 4px solid #3366cc;
	}

	.blog_title{
	position: absolute;
	top:10%;
	width: 65%;
	height: 100%;
	float: left;
	margin-left: 1em;

	}

	.blog_title h2{
		width: 100%;
		font-size: 1.475rem;
		font-size: 22px;
	}

	.blog_img{
	float: right;
	height:100%;
	overflow: hidden;

	}
	.blog_img img{
		width: 100%;
		vertical-align:middle;

	}

	#latest ol li{
		padding-bottom: 0.3rem;
	}
}