body{
	font-family: "Microsoft Yahei",
	微软雅黑,
	"Helvetica Neue",
	Arial,
    Sans-serif;
    word-break:break-all;
    font-size: 14px;
    color: #bbbbbb;
    text-align: left;
}

h1 {font-size:2.5em;}
h2 {font-size:1.875em;}
p {font-size:0.875em;}

}

a{
	text-decoration: none;
}

a:link{
	color: #bbbbbb;
	text-decoration: none;
}

a:visited{
	color: #dddddd;
	text-decoration: none;
}

a:hover{
	color: #dddddd;
	text-decoration: none;
}

a:active{
	color: #dddddd;
	text-decoration: none;
}



p{
	font-size: 14px;
}

#topnavibar{
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;

}

#logo{
	margin-top: 5px;
	margin-left: 20px;

}

.dropdown-menu{
	background-color: #222222;
}

.dropdown-menu li a{
	color: #cccccc;
}

.navbar-right{
	margin-right: 30px;
}
