html{
	font-size: 100%;
}


body{
	font-family: "Microsoft Yahei",
	微软雅黑,
	"Helvetica Neue",
	Arial,
    Sans-serif;
    white-space: normal !important;
	word-wrap:break-word !important;
    font-size: 1rem;
    font-size: 16px;
    color: #bbbbbb;
    width: 100%;
    text-align: left;
    margin:0 auto!important;
    padding: 0 auto!important;
    background-color: #444;
    background-image: url(/static/img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
  /*  overflow-x:scroll;*/  
}

h1{
	font-size: 2rem;
	font-size: 32px;
}
.h1_logo{
	position: absolute;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.5em;
	top:5px;
	height: 50px;
}

h2{
	font-size:1.5rem;
	font-size: 24px;
}
h3{
	font-size:1.17rem;
	font-size: 18.72px;
}

h4{
	font-size:1rem;
	font-size:16px;
}

h5{
	font-size:0.83rem;
	font-size:13.28px;
}
h6{
	font-size:0.67rem;
	font-size:10.72px;
}


p{
	font-size: 14px;
	font-size: 0.875rem;
}

a{
	text-decoration: none;
}

a:link{
	color: #bbbbbb;
	text-decoration: none;
}

a:visited{
	color: #dddddd;
	text-decoration: none;
}

a:hover{
	color: #ffffff;
	text-decoration: none;
}

a:active{
	color: #ffffff;
	text-decoration: none;
}


.not_found{
	width: 100%;
}

#topnavibar{
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	font-size: 0.875rem;
	font-size: 14px;

}



.navbar-nav li a{
	font-size: 0.875rem;
	font-size: 14px;
}

.nav-tabs li a{
	font-size: 0.875rem;
	font-size: 14px;

}
.dropdown-menu{
	background-color: rgba(34,34,34,0.9);
	font-size: 0.875rem;
	font-size: 14px;
}

.dropdown-menu li{
	border-bottom: 1px solid #333;
}
.dropdown-menu li:last-child{
	border-bottom:none;
}


.dropdown-menu li a{
	color: #cccccc;
}

.navbar-right{
	margin-right: 1em;
}

#search{
	position: fixed;
	top:10px;
	height: 30px;
	text-align: right;
	z-index: 8;
	
}

#footer{
	margin-bottom: 3rem;
	font-size: 0.875rem;
	color: #bbb;
	text-align: center;
}
#footer hr{
	border-color: #bbb;
}

#footer ul li{
	border-right: #bbb solid 1px;
}

#footer ul li:last-child{
	border-right: none;
}




.equinav .navbar-brand {
	display: none;
}
.equinav .navbar-collapse {
	padding: 0 !important;
}

.equinav-collapse .navbar-header {
	float: none;
}
.equinav-collapse .navbar-brand,
.equinav-collapse .navbar-toggle {
	display: block !important;
}
.equina-collapse .navbar-collapse {
	border-top: 1px solid #e7e7e7 !important;
}
.equinav-collapse .navbar-collapse.collapse {
	display: none !important;
}
.equinav-collapse .navbar-nav {
	float: none !important;
	margin: 0 !important;
}
.equinav-collapse .navbar-nav > li {
	width: auto !important;
	float: none !important;
}
.equinav-collapse .navbar-nav > li > a {
	text-align: left !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.equinav-collapse .navbar-collapse,
.equinav-collapse .navbar-collapse.collapse.in {
	border-top: 1px solid #e7e7e7 !important;
	display: block !important;
}
.equinav-collapse .collapsing {
	overflow: hidden !important;
}
.equinav-collapse .dropdown-toggle {
	background-color: #e7e7e7 !important;
}
.equinav-collapse .dropdown-toggle > .caret {
	display: inline-block !important;
}
.equinav-collapse .dropdown-menu {
	background: none !important;
	float: none !important;
	border: 0 !important;
	box-shadow: none !important;
	position: relative !important;
}
.equinav-collapse .navbar-nav .open .dropdown-menu {
	display: block !important;
}
.equinav-collapse .navbar-nav .open .dropdown-menu > li > a,
.equinav-collapse .navbar-nav .open .dropdown-menu .dropdown-header {
	color: #777 !important;
	padding: 5px 15px 5px 25px !important;
}

@media (max-width: 480px) {
	body{
		background-image:none;
	}
	.navbar-nav li{
		border-bottom: 2px solid #333;
		padding-bottom: 0.4rem;
		margin-bottom: 0.4rem;
	}
	.navbar-nav li:last-child{
	border-bottom:none;
	}

	ul.dropdown-menu li{
		border-bottom: 1px solid #333;
		padding-bottom: 0.3rem;
		margin-bottom: 0.3rem;
	} 
	ul.dropdown-menu li:last-child{
	border-bottom:none;
	margin-bottom: 0;
	}


	.container{
		padding: 0 15px 0 15px;
	}

	.remove_padding{
		padding-left: 0;
		padding-right: 0;
	}

	#search{
		width: 45px;
		right:4rem;
		padding-top: 5px;
		padding-left: 10px;
	}

}

@media (min-width: 481px) and (max-width:767px ) {

	body{
		background-image:none;
	}
	.navbar-nav li{
		border-bottom: 2px solid #333;
		padding-bottom: 0.4rem;
		margin-bottom: 0.4rem;
	}
	.navbar-nav li:last-child{
	border-bottom:none;
	}

	ul.dropdown-menu li{
		border-bottom: 1px solid #333;
		padding-bottom: 0.3rem;
		margin-bottom: 0.3rem;
	} 

	ul.dropdown-menu li:last-child{
	border-bottom:none;
	margin-bottom: 0;
	}

	.container{
		padding: 0 15px 0 15px;
	}

	.remove_padding{
		padding-left: 0;
		padding-right: 0;
	}

	#search{
    	width: 45px;
    	right: 4rem;
    	padding-top: 5px;
    	padding-left: 10px;
	}

}

@media (min-width: 768px) and (max-width:979px ) {

	body{
		background-image:none;
	}

	#search{
	    width: 45px;
	    right: 25rem;
	    padding-top: 5px;
	    padding-left: 10px;
	}

}

@media (min-width: 980px) and (max-width:1199px ) {
	#search{
	    width: 45px;
	    right: 25rem;
	    padding-top: 5px;
	    padding-left: 10px;
	}

	.col-md-offset-1{
		margin-left: 8.33333%;
	}

}

@media (min-width: 1200px) {
	#search{
		width: 350px;
		right: 28rem;
	}
	.col-md-offset-1{
		margin-left:0;
	}
}

@-moz-document 
url-prefix()
{    
	.divh96{height:90px;} 
}

#return_top{
	position: fixed;
	display: none;
	bottom:3rem;
	right: 3rem;
	z-index: 5;
}