body{background-color: #444444;
	 }
.header{
	width: 100%;
	position: relative;
	vertical-align: middle;
}

#main{
	width: 600px;
}
#head_pic{
	width: 600px;
	height: 360px;
	overflow: hidden;

}
#navibar{
	position: absolute;
	top:310px;
	width: 600px;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#content{
	width: 100%;
	background-color: #333333;
	padding: 10px 20px 10px 20px;
}
#content h2,p {
	text-align: left;
}