

body .syntaxhighlighter .line
{
white-space: pre-wrap !important;
word-break:break-all;
}


#blog_img{
	width: 100%;
	overflow: hidden;
	margin-top: 50px;

}

#blog_img img{

	width: 100%;
	height: 100%;
}


#navibar{

	width: 100%;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	border: none;
	border-radius: 0px;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 0;
	border-bottom: none;
}

hr{
	margin-top: 0;
	margin-bottom: 0.5rem;
	border-top:1px solid #555;
}




@media (min-width: 769px) {
	#content{
		width: 100%;
		background-color: rgba(34,34,34,0.9);
		color: #bbb;
		text-align: left;
		font-size: 1rem;
		font-size: 16px;
		overflow: hidden;
		padding-top: 1em;
		padding-left: 1.5em;
		padding-right: 1.5em;
		padding-bottom: 1em;
		margin-top:-1px;
	}

}

@media (min-width: 450px) and (max-width: 769px) {

	body{
		background-image: none;

	}
	.container{
		padding: 0 !important;
	}	


	#content{
		width: 100%;
		background-color: rgba(34,34,34,0.9);
		color: #bbb;
		text-align: left;
		font-size: 1rem;
		font-size: 16px;
		overflow: hidden;
		margin: 0;
		padding: 0 0.8em 0.8em 0.8em;


	}

}

@media (max-width: 450px) {

	body{
		background-image: none;
		padding: 0 !important;
	}
	.container{
		padding: 0 !important;
	}
	#content{
		width: 100%;
		background-color: rgba(34,34,34,0.9);
		color: #bbb;
		text-align: left;
		font-size: 0.875rem;
		font-size: 14px;
		overflow: hidden;
		margin: 0;
		padding: 0 0.8em 0.8em 0.8em;

	}

	#content h2{
	font-size: 1.25rem;
	font-size: 20px;
	}

	.tag a span{
	font-weight: normal;
	font-size: 0.75em;
	line-height: 2.5em;
	}

}


#content h2{
	color: #eeeeee;
}


#content a{
	text-decoration: underline;
}

#content a:link{
	color: #bbbbbb;
	text-decoration: underline;
}

#content a:visited{
	color: #dddddd;
	text-decoration: underline;
}

#content a:hover{
	color: #ffffff;
	text-decoration: underline;
}

#content a:active{
	color: #ffffff;
	text-decoration: underline;
}


#content p{
	font-size: 1em;
}

.blog_info{
	color: #666666;
	font-size: 0.875em;
}

.tag{
	color: #666666;
}

.tag_link{
	text-decoration: none;
}

.tag a span{
	font-weight: normal;
	font-size: 1em;
	line-height: 2.5em;
}


#content blockquote{
	border-left: 3px solid #3366cc; 
	font-size: 1em;

}
@media \0screen\,screen\9
#content{
	background-color: #333;
	filter:alpha(opacity=90);
	position: static;
	*zoom:1;
}



#comments{
	margin-top: 1rem;
	background-color: rgba(34,34,34,0.9);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin-bottom: 1rem;

}