body{background-color: #444444;
	 }



#main{
	width: 900px;
	background-color: #333333;
}


#navibar{
	margin-top: -50px;

	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}



.header{
	width: 900px;
	height: 450px;
}



#timeline{
	width: 640px;
	float: left;
	margin-bottom: 50px;
}

.blog_list{
	width: 640px;
	height:160px;
	background-color: #333333;
	margin-bottom: 10px;
}

.blog_img{
	float: right;
	width: 200px;
	height: 120px;
	overflow: hidden;
	margin-top: 20px;
	margin-right: 20px;
}

.blog_pic{
	position: relative;
	width: 100%;
	vertical-align: middle;

}

.blog_title{
	position: absolute;
	float: left;
	background-color: #333333;
	width: 400px;
	margin-left: 20px;
	margin-top: 15px;
	height: 130px;

}

.blog_title h3{
	text-align: left;
}

.blog_title p{
	position:absolute;
	bottom: 0px;
	right: 20px;
	color: #666666;
	text-align: right;

}


#right_column{
	width: 250px;
	float: right;
}

#latest{
	width: 100%;
	background-color: #333333;
	padding: 5px 15px 5px 5px;
}
#latest h5{
	text-align: left;
	font-size: 1em;
	vertical-align: middle;
	margin-left: 5px;

}

#latest ol li{
	font-size: 0.875em;
	text-align: left;

}

#tags{
	width: 100%;
	background-color: #333333;
	padding: 5px 15px 5px 5px;
	margin-top: 15px;
}

#tags h5{
	text-align: left;
	font-size: 1em;
	vertical-align: middle;
	margin-left: 5px;

}

#tags p{
	margin-left: 10px;
	font-size: 0.875em;
	text-align: left;


}