<!DOCTYPE html>
<html>
<head>
  <title>404 Not Found_刘文图熙1895</title>
  <meta http-equiv="content-Type" content="text/html;charset=utf8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="robots" content="index,follow" />
  <meta name="author" content="刘文图熙1895" />


   <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../static/css/style.css">


</head>
<body style="background-color:transparent;background-image:none;">


<div class="container">

   <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 remove_padding">
        <center>
        <img src="../static/img/404.jpg" class="not_found"/>
        <a href="http://hill1895.rocks"><button type="button" class="btn btn-danger btn-block btn-lg">返回首页</button></a>
        </center>

    </div>
	</div>
</div>


	<script src="../static/js/jquery-1.11.3.min.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>

</body>
</html>