<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf8"/>

	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">



</head>
<body>
{% include "header.html" %}

<center>
	<div id="main">
		<div id="head_img">
			<img src="/static/img/banner.jpg" class="header" />
		</div>

		{% block navibar %}
		<nav class="navbar navbar-inverse" role="navigation" id="navibar">
		   <div>
		      <ul class="nav navbar-nav">
		         <li><a href="/">首页</a></li>
		         <li><a href="/geek">技术博客</a></li>
		         <li><a href="/essay">随笔</a></li>
		         <li><a href="/joke">瞎扯</a></li>
		      </ul>
		   </div>
		</nav>
	{% endblock %}
		<div id="timeline">
		 {% block title_list %}
			
	       {% endblock %}

	     {% block pagenation %}

	     {% endblock %}

		</div>
		

		<div id="right_column">
			
			<div id="latest">
				<h5>最近文章</h5>

				<ol>
					{% block lastest_blog%}
					
					{% endblock %}
				</ol>
			</div>

			<div id="tags">
				<h5>标签</h5>
				{% block tags %}
				<p></p>
				{% endblock %}
			</div>
		</div>


	</div>
</center>
	


	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>