<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf8"/>

	<title>刘文图熙1895</title>




</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="topnavibar">
   <div class="navbar-header">
      <a href="#"><img src="../static/img/logo.png" id="logo"></a>
   </div>
   <div>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#">首页</a></li>
          <li class="dropdown-inverse">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">博客<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">技术博客</a></li>
               <li><a href="#">生活</a></li>
               <li><a href="#">瞎扯</a></li>
            </ul>
         </li>
         <li><a href="#">友情链接</a></li>
         <li><a href="#">Profile</a></li>
         <li><a href="#">管理</a></li>
   </div>
</nav>

<center>
	<div id="main">
	<img src="../static/img/banner.jpg" class="header">
	<br/>
	<nav class="navbar navbar-inverse" role="navigation" id="navibar">
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="#">首页</a></li>
         <li><a href="#">技术博客</a></li>
         <li><a href="#">生活</a></li>
         <li><a href="#">瞎扯</a></li>
      </ul>
   </div>
</nav>
	<div id="timeline">
		
		<a href="#">
		<div class="blog_list">
			<div class="blog_title">
				<h3>
					这是一个很长很长很长的标题
				</h3>
				<p>阅读量: 823&nbsp&nbsp&nbsp&nbsp阅读全文</p>

			</div>
			
			<div class="blog_img">
				<img src="../static/img/test1.jpg" class="blog_pic">
			</div>
		</div>
		</a>

		<a href="#">
		<div class="blog_list">
			<div class="blog_title">
				<h3>
				这个标题有点长，有点心理准备，哈哈哈哈哈
				</h3>
				<p>阅读量: 0&nbsp&nbsp&nbsp&nbsp阅读全文</p>
			</div>
			<div class="blog_img">
				<img src="../static/img/test.jpg" class="blog_pic">
			</div>
		</div>
		</a>

	</div>
	

	<div id="right_column">
		
		<div id="latest">
			<h5>最近文章</h5>
			<ol>
				<li><a href="#">去你大爷的房交会giogpegerd的感带我去</a></li>
				<li>fwejg[pregk[fj[wehgperhgprehujrepghfwepodjw[dpfjwepgh</li>
			</ol>
		</div>

		<div id="tags">
			<h5>标签</h5>
			<p>c++, python, django, website, 瞎扯, 电影, 游戏, book, movie, jeep, ali</p>
		</div>
	</div>


	</div>
</center>
	

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
	<script src="../static/js/jquery-1.11.3.min.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>
</body>
</html>