<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="baidu-site-verification" content="lplLbq63Lo" />
	<meta name="keywords" content="刘文图熙1895,个人博客,Geek" />

	<title>{% block title %}{% endblock %}</title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">



</head>
<body>
{% include "header.html" %}


	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-8 col-xs-12">

				<div id="head_img">
					<img src="/static/img/banner.jpg"/>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10 col-md-offset-1 col-sm-12 hidden-xs">
				{% block navibar %}
				<nav class="navbar navbar-inverse" role="navigation" id="navibar">
				      <ul class="nav navbar-nav">
				         <li><a href="/">首页</a></li>
				         <li><a href="/geek">技术博客</a></li>
				         <li><a href="/essay">随笔</a></li>
				         <li><a href="/joke">瞎扯</a></li>
				      </ul>
				</nav>
				{% endblock %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-7 col-md-offset-1  col-sm-8 col-xs-12">

				<div id="timeline">
				 {% block title_list %}
					
			       {% endblock %}

			     {% block pagenation %}

			     {% endblock %}

				</div>
			</div>
		
			<div class="col-md-3 col-sm-4 col-xs-12">
				
				<div id="right_column">

					<div id="latest">
						<h4>最近文章</h4>
						<hr class="right_hr"/>
						<ol>
							{% block lastest_blog%}
										
							{% endblock %}
						</ol>
					</div>
							
					<div id="tags">	
						<h4>标签</h4>
						<hr class="right_hr" />
						{% block tags %}
										
						{% endblock %}
									
					</div>

					<div id="friends">	
						<h4>友情链接</h4>
						<hr class="right_hr"/>
						{% block friends %}
										
						{% endblock %}
									
					</div>		
				</div>					
			</div>
		</div>
	
		<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 hidden-xs">
					{% include "footer.html" %}
				</div>
		</div>
	
	</div>

	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap/bootstrap.min.js"></script>
	<script src="/static/js/main.js"></script>
</body>
</html>