<!DOCTYPE html>
<html>
<head>
  <title>{{ blog.title }}_{{category2}}_文章详情</title>
  <meta name="description" content="{{ blog.brief }}" />
  <meta name="keywords" content="
  {% for tag in blog_tags %}
    {{ tag }},
  {% endfor %}
  技术博客
  " />
  <meta http-equiv="content-Type" content="text/html;charset=utf8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta name="robots" content="index,follow" />
  <meta name="author" content="刘文图熙1895" />

  {% load compress %}
  {% compress css %}
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
   <link rel="stylesheet" type="text/css" href="/static/css/ueditor/shCore.css">
   <link rel="stylesheet" type="text/css" href="/static/css/ueditor/shCoreRDark.css">
  {% endcompress %}


</head>
<body>

 

   {% include "header.html" %}


<div class="container">

   <div class="row">
      <div class="col-lg-12 col-md-10 col-md-offset-1 col-sm-12 remove_padding">
         <div id="blog_img">
            <img src="{{ blog.head_pic_url }}">
         </div>

         <div class="hidden-xs">
           <nav class="navbar navbar-inverse" role="navigation" id="navibar">
                 <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li><a href="/geek">技术博客</a></li>
                    <li><a href="/essay">随笔</a></li>
                    <li><a href="/joke">瞎扯</a></li>
                 </ul>
           </nav>
       </div>


         <div id="content">
            <h1>{{ blog.title }}</h1>
            <h5 class="blog_info"><a href="/{{ category1_url }}">{{ category1 }}&nbsp;/&nbsp;{{ category2 }}</a>&nbsp;&nbsp; {{ blog.pub_time|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;阅读量: {{ blog.page_views }}</h5>
                  
                  <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more">分享到：</a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">新浪微博</a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"分享 刘文图熙1895 的文章 「 {{ blog.title}} 」 --刘文图熙1895","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

                 
              
              
  
              
              <h5 class="tag">
                <span class="glyphicon glyphicon-tags" ></span>&nbsp;
                   {% for tag in blog_tags %}
                      <a href="{% url 'tag' tag.id %}" class="tag_link"><span class="label">{{ tag }}</span></a>&nbsp;&nbsp;
                   {% endfor %}
              </h5>
            
            <br/>
            {{ blog.content|safe }}
         </div>


         <div id="comments">

              <div class="ds-thread" data-thread-key="blog{{ blog.id }}" data-title="{{ blog.title }}" data-url="http://hill1895.rocks/blog_detail/blog_{{ blog.id }}"></div>
            <script type="text/javascript">
             var duoshuoQuery = {short_name:"hill1895"};
               (function() {
                  var ds = document.createElement('script');
                  ds.type = 'text/javascript';ds.async = true;
                  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                  ds.charset = 'UTF-8';
                  (document.getElementsByTagName('head')[0] 
                   || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
          </script>
         
         </div>       

          <div class="hidden-xs">
               {% include "footer.html" %}
          </div>

    </div>
	</div>
</div>

  <div id="return_top" class="hidden-sm hidden-xs"><a href="#"><img src="/static/img/return_top.png" /></a>
  </div>

  {% compress js %}
	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap/bootstrap.min.js"></script>
   <script src="/static/js/ueditor/shCore.js"></script>
   <script src="/static/js/ueditor/shBrushJScript.js"></script>
   <script type="text/javascript" src="/static/js/ueditor/shAutoloader.js"></script>
   <script src="/static/js/main.js"></script>
  {% endcompress%}
   <script type="text/javascript">
    SyntaxHighlighter.autoloader(
            ['js','jscript','javascript','/static/js/ueditor/shBrushJScript.js'],
            ['bash','shell','/static/js/ueditor/shBrushBash.js'],
            ['css','/static/js/ueditor/shBrushCss.js'],
            ['xml','html','/static/js/ueditor/shBrushXml.js'],
            ['sql','/static/js/ueditor/shBrushSql.js'],
            ['python','/static/js/ueditor/shBrushPython.js'],
            ['cpp','C++','/static/js/ueditor/shBrushCpp.js'],
            ['Java','/static/js/ueditor/shBrushJava.js']

        ); 
      SyntaxHighlighter.defaults['pad-line-numbers']=true
      SyntaxHighlighter.defaults['smart-tabs']=true
      SyntaxHighlighter.defaults['gutter']=true
      SyntaxHighlighter.all();
   </script>

</body>
</html>