<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ blog.title }}</title>

   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
   <link rel="stylesheet" type="text/css" href="/static/css/ueditor/shCoreDefault.css">
   <link rel="stylesheet" type="text/css" href="/static/css/ueditor/shThemeDefault.css">

</head>
<body>

 

   {% include "header.html" %}


<div class="container">

   <div class="row">
      <div class="col-md-8 col-md-offset-2">
         <div id="blog_img">
            <img src="{{ blog.head_pic_url }}">
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-8 col-md-offset-2 hidden-xs hidden-sm">
         <nav class="navbar navbar-inverse" role="navigation" id="navibar">
               <ul class="nav navbar-nav">
                  <li><a href="/">首页</a></li>
                  <li><a href="/geek">技术博客</a></li>
                  <li><a href="/essay">随笔</a></li>
                  <li><a href="/joke">瞎扯</a></li>
               </ul>
         </nav>
      </div>
   </div>

   <div class="row">

      <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">

         <div id="content">
            <h2>{{ blog.title }}</h2>
            <h5 class="blog_info">发表时间: {{ blog.pub_time|date:"Y-m-d H:i:s"}}&nbsp;&nbsp;阅读量: {{ blog.page_views }}</h5>
            <h5 class="tag">标签:&nbsp;&nbsp;
               {% for tag in blog_tags %}
                  <a href="{% url 'tag' tag.id %}" class="tag_link"><span class="label label-default">{{ tag }}</span></a>&nbsp;&nbsp;
               {% endfor %}
            </h5>
            <br/>
            {{ blog.content|safe }}
         </div>
      </div>

   </div>
	
</div>


	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap/bootstrap.min.js"></script>
   <script src="/static/js/main.js"></script>
   <script src="/static/js/ueditor/shCore.js"></script>
   <script type="text/javascript">

      SyntaxHighlighter.highlight();

   </script>

</body>
</html>