{% extends "base.html" %}

{% block title %}

随笔_刘文图熙1895_文章列表

{% endblock %}

{% block seo %}
  <meta name="description" content="随笔用于记录自己读书, 观影, 运动, 旅行的心得体会,关注赛博朋克,意识流,足球, 尤文图斯, 昆汀, 韦斯·安德森, 徒步, 登山" />
  <meta name="keywords" content="随笔,读书,影评,运动,游记" />
{% endblock %}

{% load hill1895_extras %}


{% block navibar %}
	<nav class="navbar navbar-inverse" role="navigation" id="navibar">
	      <ul class="nav navbar-nav">		         
	      	<li><a href="/">首页</a></li>
	        <li><a href="/geek">技术博客</a></li>
          <li class="active"><a href="/essay">随笔</a></li>
          <li><a href="/joke">瞎扯</a></li>
		    </ul>
		</nav>
{% endblock %}


{% block title_list %}

<ul id="myTab" class="nav nav-tabs">
   <li class="active">
      <a href="#home" data-toggle="tab">
         所有文章
      </a>
   </li>
   <li><a href="#book" data-toggle="tab">
        读书
      </a>
   </li>
      <li><a href="#movie" data-toggle="tab">
        影评
      </a>
   </li>
      </li>
    <li><a href="#sports" data-toggle="tab">
        运动
      </a>
   </li>
   <li><a href="#tour" data-toggle="tab">
        游记
      </a>
   </li>

</ul>	

<div id="myTabContent" class="tab-content">

	<div class="tab-pane fade in active" id="home">
	{% include "essay/home.html" %}
	</div>

	<div class="tab-pane fade in" id="book">

	{% include "essay/book.html" %}

	</div>

	<div class="tab-pane fade in" id="movie">
	{% include "essay/movie.html" %}
	</div>

	<div class="tab-pane fade in" id="sports">
	{% include "essay/sports.html" %}
	</div>

  <div class="tab-pane fade in" id="tour">
  {% include "essay/tour.html" %}
  </div>

</div>


{% endblock %}

{% block lastest_blog%}
	{% for blog in essay_latest %}
	<li><a href="{% url 'blog_detail' blog|get_value:'id' %} " target=_blank>{{ blog|get_value:'title' }}</a></li>
	{% endfor %}
{% endblock %}

{% block tags %} 
   	<h5>
      {% include "tag_info.html" %}
   </h5>
{% endblock %}

{% block friends %}
  
  {% include "friends.html" %}       

{% endblock %}