<div id="footer">
	<hr>
	<ul class="list-inline">
		<li>Powered by:  <a href="http://www.djangoproject.com/" target="_blank">Django</a></li>
		<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		<li><a href="http://aws.amazon.com/" target="_blank">AWS</a></li>
		<li><a href="http://glyphicons.com/" target="_blank">Glyphicons Halflings</a></li>
	</ul>
	<ul class="list-inline">
		<li><a href="http://weibo.com/hill830075" target="_blank">新浪微博: @刘文图熙1895</a></li>
		<li><a href="http://www.zhihu.com/people/hill1895" target="_blank">知乎: 刘文图熙1895</a></li>
		<li><a href="https://github.com/hill1895" target="_blank">GitHub: hill1895</a></li>
	</ul>
</div>