{% extends "base.html" %}

{% block title %}

技术博客_刘文图熙1895_文章列表

{% endblock %}

{% block seo %}
  <meta name="description" content="技术博客用于记录C/C++, Python, Web 等技术的学习和使用心得,重点关注Django,Scrapy,STL,nginx,Mysql" />
  <meta name="keywords" content="技术博客,C++,Python,Web" />
{% endblock %}

{% load hill1895_extras %}


{% block navibar %}
	<nav class="navbar navbar-inverse" role="navigation" id="navibar">
	      <ul class="nav navbar-nav">		         
	      	<li><a href="/">首页</a></li>
	        <li class="active"><a href="/geek">技术博客</a></li>
          <li><a href="/essay">随笔</a></li>
          <li><a href="/joke">瞎扯</a></li>
		    </ul>
		</nav>
{% endblock %}


{% block title_list %}

<ul id="myTab" class="nav nav-tabs">
   <li class="active">
      <a href="#home" data-toggle="tab">
         所有文章
      </a>
   </li>
   <li><a href="#Develop" data-toggle="tab">
        开发
      </a>
   </li>
      </li>
    <li><a href="#Website" data-toggle="tab">
        Web
      </a>
   </li>
   <li><a href="#SRE" data-toggle="tab">
        运维
      </a>
   </li>

</ul>	

<div id="myTabContent" class="tab-content">

	<div class="tab-pane fade in active" id="home">
	{% include "geek/home.html" %}
	</div>

	<div class="tab-pane fade in" id="Develop">
	{% include "geek/develop.html" %}
	</div>

	<div class="tab-pane fade in" id="Website">
	{% include "geek/website.html" %}
	</div>

  <div class="tab-pane fade in" id="SRE">
  {% include "geek/SRE.html" %}
  </div>

</div>


{% endblock %}

{% block lastest_blog%}
	{% for blog in geek_latest %}
	<li><a href="{% url 'blog_detail' blog|get_value:'id' %} " target=_blank>{{ blog|get_value:'title' }}</a></li>
	{% endfor %}
{% endblock %}

{% block tags %} 
   	<h5>
   	      {% include "tag_info.html" %}
   </h5>
{% endblock %}

{% block friends %}
  
  {% include "friends.html" %}       

{% endblock %}