<!DOCTYPE html>
<html>
<head>
   <title></title>
   <script src="../static/js/jquery-1.11.3.min.js"></script>
   <script charset="utf-8" src="../static/js/editor/kindeditor.js"></script>
   <script charset="utf-8" src="../static/js/editor/lang/zh_CN.js"></script>

</head>
<body>
<script type="text/javascript"> 
KindEditor.ready(function(K) {
   K.create('#ke_demo', {
      allowFileManager : true
   });
});
</script>
         <textarea id="ke_demo" name="content" rows="20" cols="100" style="width:95%;height:200px;visibility:hidden;">
&lt;p&gt;Think Defferent&lt;/p&gt;
&lt;p&gt;Here’s to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They’re not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can’t do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.&nbsp;&lt;/p&gt;
&lt;p&gt;- Apple Inc.&lt;/p&gt;
         </textarea>

</body>
</html>