<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf8"/>

	<title>刘文图熙1895</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">

	<script src="../static/js/jquery-1.11.3.min.js"></script>
	<script src="../static/js/bootstrap/bootstrap.min.js"></script>

</head>
<body>
<center>
	<div id="main">
	<img src="../static/img/banner.jpg" class="header">
	<br/>
	<div id="navigator">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">SVN</a></li>
		<li><a href="#">iOS</a></li>
	</ul>
	</div>	
	<div id="timeline"></div>


	</div>
</center>

</body>
</html>