{% extends "base.html" %}

{% block title %}刘文图熙1895_个人博客_文章列表{% endblock %}

{% block seo %}
  <meta name="description" content="刘文图熙1895的个人博客网站，用于记录学习和生活的心得。技术博客用于记录C/C++, Python, Web等技术的学习和使用心得,随笔用于记录自己读书, 观影, 运动, 旅行的心得体会,瞎扯用于吐槽" />
  <meta name="keywords" content="刘文图熙1895,个人博客,编程,Geek" />
{% endblock %}

{% load hill1895_extras %}


{% block navibar %}
	<nav class="navbar navbar-inverse" role="navigation" id="navibar">
   <div>
      <ul class="nav navbar-nav">
         <li class="active"><a href="/">首页</a></li>
         <li><a href="/geek">技术博客</a></li>
         <li><a href="/essay">随笔</a></li>
         <li><a href="/joke">瞎扯</a></li>
      </ul>
   </div>
</nav>
{% endblock %}

 {% block title_list %}


 {% for blog_info in blog_infos %}
{% include "list_style.html" %}		

{% empty %}
    <h3>这个人好懒，一个字都没写</h3>
{% endfor %}





	<ul class="pagination">

	{% if blog_infos.has_previous %}
		<li><a href="?page={{ blog_infos.previous_page_number }}">&laquo;</a></li>
	{% else %}
		<li class="active"><a>&laquo;</a></li>
	{% endif %}

	{% for p in page_range %}
      {% ifequal p blog_infos.number %}
     	 <li class="active"><a>{{p}}</a></li>
      {% else %}
      	<li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
      {% endifequal %}
    {% endfor %}

	{% if blog_infos.has_next %}
    	<li><a href="?page={{ blog_infos.next_page_number }}">&raquo;</a></li>
    {% else %}
    	<li class="active"> <a>&raquo;</a></li>
    {% endif %}
	</ul>




{% endblock %}


{% block lastest_blog%}
	{% for blog in latest %}
	<li><a href="{% url 'blog_detail' blog|get_value:'id' %} " target=_blank>{{ blog|get_value:'title' }}</a></li>
	{% endfor %}
{% endblock %}

{% block tags %} 
   	<h5>
      {% include "tag_info.html" %}
   </h5>
{% endblock %}

{% block friends %}
  
  {% include "friends.html" %}       

{% endblock %}