{% load hill1895_extras %}

<a href="{% url 'blog_detail' blog_info|get_value:'id' %}" target=_blank>
	<div class="blog_list">
		<span class="label label-primary">{{ blog_info|get_value:"category2" }}</span>
		<div class="blog_title">
			<h2>
				{{ blog_info|get_value:"title" }}
			</h2>
			<p>{{ blog_info|get_value:"pub_time"|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;阅读量: {{ blog_info|get_value:"page_views" }}&nbsp;&nbsp;</p>
		</div>
			
			<div class="blog_img">
				<img src="{{blog_info|get_value:'head_pic_url' }}" />
			</div>
	</div>
</a>	
