{% extends "base.html" %}

{% block title %}

{{ get_tag.tag }}_文章列表_刘文图熙1895

{% endblock %}

{% block seo %}
 <meta name="description" content="{{ get_tag.tag }}的文章列表" />
  <meta name="keywords" content="刘文图熙1895,个人博客,{{ get_tag.tag }}" />
{% endblock %}

{% load hill1895_extras %}
{% block title_list %}

<ul id="myTab" class="nav nav-tabs">
   <li class="active">
      <a href="#home" data-toggle="tab">
        <span class="glyphicon glyphicon-tag"></span>&nbsp; {{ get_tag.tag }}
      </a>
   </li>
</ul>	


{% for blog_info in tag_infos %}
{% include "list_style.html" %}	

{% empty %}
    <h3>这个人好懒，一个字都没写</h3>	

{% endfor %}





	<ul class="pagination">

	{% if tag_infos.has_previous %}
		<li><a href="?page={{ blog_infos.previous_page_number }}">&laquo;</a></li>
	{% else %}
		<li class="active"><a>&laquo;</a></li>
	{% endif %}

	{% for p in page_range %}
      {% ifequal p tag_infos.number %}
     	 <li class="active"><a>{{p}}</a></li>
      {% else %}
      	<li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
      {% endifequal %}
    {% endfor %}

	{% if tag_infos.has_next %}
    	<li><a href="?page={{ blog_infos.next_page_number }}">&raquo;</a></li>
    {% else %}
    	<li class="active"> <a>&raquo;</a></li>
    {% endif %}
	</ul>


{% endblock %}

{% block lastest_blog%}
	{% for blog in tag_latest %}
	<li><a href="{% url 'blog_detail' blog|get_value:'id' %} " target=_blank>{{ blog|get_value:'title' }}</a></li>
	{% endfor %}
{% endblock %}

{% block tags %} 
   	<h5>
   		{% include "tag_info.html" %}
   </h5>
{% endblock %}

{% block friends %}
  
  {% include "friends.html" %}       

{% endblock %}