<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-Type" content="text/html;charset=utf8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>Profile--刘文图熙1895</title>

   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
   <link rel="stylesheet" type="text/css" href="/static/css/ueditor/shCoreRDark.css">


</head>
<body>

 

   {% include "header.html" %}


<div class="container">

  <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-12 remove_padding">
        <div id="test"></div>
    </div>
	
</div>


	<script src="/static/js/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap/bootstrap.min.js"></script>
   <script src="/static/js/ueditor/shCore.js"></script>
   <script src="/static/js/main.js"></script>
   <script type="text/javascript">
      SyntaxHighlighter.defaults['smart-tabs']=true
      SyntaxHighlighter.defaults['auto-links']=true
      SyntaxHighlighter.defaults['gutter']=false
      SyntaxHighlighter.all();
   </script>

</body>
</html>