


{% for blog_info in joke_infos %}
	
{% include "list_style.html" %}

{% empty %}
		<h3>这个人好懒，一个字都没写</h3>

{% endfor %}

	<ul class="pagination">

	{% if joke_infos.has_previous %}
		<li><a href="?page={{ joke_infos.previous_page_number }}">&laquo;</a></li>
	{% else %}
		<li class="active"><a>&laquo;</a></li>
	{% endif %}

	{% for p in joke_page_range %}
      {% ifequal p joke_infos.number %}
     	 <li class="active"><a>{{p}}</a></li>
      {% else %}
      	<li><a href="?page={{p}}" title="第{{p}}页">{{p}}</a><li>
      {% endifequal %}
    {% endfor %}

	{% if joke_infos.has_next %}
    	<li><a href="?page={{ joke_infos.next_page_number }}">&raquo;</a></li>
    {% else %}
    	<li class="active"> <a>&raquo;</a></li>
    {% endif %}
	</ul>